
.flexbox-container {
    display: flex;
    flex-direction: row;
}
.flexbox-vertical-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }

.Dapp-card{
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    min-height: 200px;
    background-color: rgba(233, 233, 233, 0.768);
    border: 1px solid;
    border-color:rgb(216, 216, 216);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  }

  .HoverCard {
    padding: 0px 0px;
    height: 20vh;
    width: 30vw;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(34, 34, 34, 0.904);
    border-color: rgba(2, 255, 183, 0.897);
    border-radius: 10px;
      max-width: 22vw;
      min-width: 5vw;
      max-height: 32vh;
      margin-right: 2vw;
      margin-top: 20;
      transition: 1s;
    
    }
    .HoverCard:hover {
    transform: scale(1.1);
    transition: 1s;
    }
    
  .NFT-card{
    width: fit-content;
    min-width: 300px;
    height: fit-content;
    padding: 7%;
    min-height: 200px;
    color: #ffffff;
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    background-color: #000000be;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  }

  .Form-button{
    text-align: center;
    width: 25vw;
    min-width: 100px;
    max-width: 25vw;
    color: rgba(240, 240, 240, 0.977); 
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.979); 
    border-radius: 10px;
    font-weight: 600;
    margin-left: 10vw;
    border: 2px solid;
    max-height: 6vh;
    height: 6vh;
    font-family: 'montserrat sans-serif';
    align-items: center;
    justify-content: center;
  }
  .Account-Form-button{
    text-align: center;
    width: fit-content;
    min-width: 100px;
    color: rgba(240, 240, 240, 0.977); 
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.979); 
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid;
    max-height: 6vh;
    height: 6vh;
    font-family: 'montserrat sans-serif';
    align-items: center;
    justify-content: center;
  }
  .Form-button-input{
    text-align: center;
    width: 25vw;
    min-width: 100px;
    max-width: 25vw;
    margin-left: 10vw;
    color: rgba(240, 240, 240, 0.977); 
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.979);  
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid;
    max-height: 6vh;
    height: 6vh;
    font-family: 'montserrat sans-serif';
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
  }
  .Form-button-input:hover{
    text-align: center;
    width: 25vw;
    min-width: 100px;
    max-width: 25vw;
    margin-left: 10vw;
    color: rgba(0, 0, 0, 0.979); 
    background-color: rgba(240, 240, 240, 0.977); 
    border-color: rgba(0, 0, 0, 0.979); 
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid;
    max-height: 6vh;
    height: 6vh;
    font-family: 'montserrat sans-serif';
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
  }

  .HeaderButton {
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    font-size: calc(3 * (0.35vw + 0.35vh));
    font-weight: 600;
    color: #ffffff;
    margin-top: 15px;
    background-color: rgba(34, 34, 34, 0.904);
    border-color: rgba(122, 124, 124, 0.897);
    border-radius: 15px;
    width: 16vw;
    min-width: 100px;
    height: 8vh;
    max-height: 5vh;
    min-height: 5vh;
    padding-bottom: 40px;
    padding-top: 10px;
    margin-right: 2.5vw;
    padding-left: 3%;
    padding-right: 3%;
    transition: 0.5s;
  }
  .HeaderButton:hover {
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    font-size: calc(3 * (0.35vw + 0.35vh));
    font-weight: 600;
    color: #ffffff;
    margin-top: 15px;
    background-color: rgba(34, 34, 34, 0.904);
    border-color: rgba(255, 255, 255, 0.897);
    border-radius: 15px;
    width: 16vw;
    min-width: 100px;
    height: 8vh;
    max-height: 5vh;
    min-height: 5vh;
    padding-bottom: 40px;
    padding-top: 10px;
    margin-right: 2.5vw;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    transition: 0.5s;
  }
  .Dashboard-Button{
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    font-size: calc(3 * (0.35vw + 0.35vh));
    font-weight: 600;
    color: #ffffff;
    margin-top: 15px;
    background-color: rgba(34, 34, 34, 0.904);
    border-color: rgba(122, 124, 124, 0.897);
    border-radius: 15px;
    width: 16vw;
    min-width: 100px;
    height: 8vh;
    max-height: 5vh;
    min-height: 15px;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
    transition: 0.5s;
  }
  .Dashboard-Button:hover{
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    font-size: calc(3 * (0.35vw + 0.35vh));
    font-weight: 600;
    color: #ffffff;
    margin-top: 15px;
    background-color: rgba(34, 34, 34, 0.904);
    border-color: rgba(255, 255, 255, 0.897);
    border-radius: 15px;
    width: 16vw;
    min-width: 100px;
    height: 8vh;
    max-height: 5vh;
    min-height: 15px;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    transition: 0.5s;
  }
  .MintButton{
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: calc(3 * (0.2vw + 0.2vh));
    font-family: 'OpenDyslexic3';
    color: #ffffff;
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    background-color: #000000be;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
    width: 17vw;
    min-width: 100px;
    height: 10vh;
    max-height: 10vh;
    margin-right: 2vw;
    margin-left: 2vw;
    transition: 0.5s;
  }
  .MintButton:hover{
    transform: scale(1.1);
    transition: ease-in-out;
    border-color: rgba(255, 255, 255, 0.979); 
    color: rgba(255, 255, 255, 0.979); 
    transition: 0.5s;
  }
  .MintButton-math{
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: calc(3 * (0.2vw + 0.2vh));
    font-family: 'OpenDyslexic3';
    color: #ffffff;
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    background-color: #000000be;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
    width: fit-content;
    min-width: 50px;
    height: 10vh;
    max-height: 10vh;
    margin-right: 2vw;
    margin-left: 2vw;
    transition: 0.5s;
  }
  .MintButton-math:hover{
    transform: scale(1.1);
    transition: ease-in-out;
    border-color: rgba(255, 255, 255, 0.979); 
    color: rgba(255, 255, 255, 0.979); 
    transition: 0.5s;
  }
  .createaccount {
    border-style: solid;
    border-width: 1px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    font-size: calc(3 * (0.3vw + 0.3vh));
    font-family: 'Montserrat, sans-serif';
    color: #ffffff;
    background-color: rgba(34, 34, 34, 0.904);
    border-color: rgba(122, 124, 124, 0.897);
    border-radius: 10px;
    width: 15vw;
    min-height: 5vh;
    margin-top: 2vh;
    height: fit-content;
    max-height: 10vh;
    transition: 1s;
  }
  .createaccount:hover {
    transform: scale(1.03);
    transition: 1s;
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.897);
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 100%;
    background-color: #0042ac;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type=submit]:hover {
    width: 100%;
    background-color: #0042acba;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



  .HoverText {
    transition: 1s;
  }
  .HoverText:hover {
    transform: scale(1.1);
    transition: 1s;
    }

.header-image {
    padding-bottom: 10;
     align-items: 'right';
     float: 'left';
     width: '20vw';
    height: '20vh';
    align-self: 'right';
    }

    .dapp-header-image{
        width: 30vw;
        min-width: 30vw;
        height: auto;
        min-height: 20vh;
      }

      .faqdropdown {
        width: 50px;
        height: 50px;
        background: transparent;
        border: 10px solid white;
        border-radius: 100px;
        transition: 1s;
      }
      
      .faqdropdown:focus {
      transition: 1s;
        background: white;
        border: 10px solid black;
      }


      @media only screen and (max-width: 550px) {
        .header-image {
          display: inline-block;
          vertical-align: top;
          align-self: top;
        }

       }
      
      @media only screen and (max-width: 350px) {
  
        .socialimage {
          position: relative;
          animation: mymobilemove 8s infinite;
          transition: 1s;
          width: 11vw;
          height: 'auto';
           max-width: 10vw;
        }
        
  
        .flexbox-socialimage-container {
          display: flex;
          flex-direction: row;
          visibility: hidden;
          width:0vw;
        }
  
        .Form-button{
          text-align: center;
          width: 13vw;
          min-width: 13vw;
          max-width: 13vw;
          right: 14px;
          position: relative;
          color: rgba(255, 153, 0, 0.979); 
          background-color: transparent;
          border-color: rgba(255, 153, 0, 0.979); 
          border-radius: 8px;
          border: 2px solid;
          max-height: 6vh;
          height: 6vh;
          font-family: 'montserrat sans-serif';
          align-items: center;
          justify-content: center;
        }
      
      }
  
      @media only screen and (max-width: 650px) { 
        .Dapp-card {
          min-height: 20vh;
          max-height: 50vh;
          max-width: 99vw;
          min-width: 275px;
          border-radius: 15px;
          padding-left: 1px;
          padding-right:1px;
         border: 1px solid;
         margin-top: 2vh;
         color: #000000;
         font-weight: 700;
         position: relative;
         font-style: underline;
         top: 0;
         transition: 0.5s;
         font-family: 'montserrat sans-serif';
          position: relative;
          background-color:transparent;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
        }
        .dapp-header-image {
          width: 300px;
          height: 'auto';
          max-height: 'auto';
          padding: '0%';
          padding-right: '0%';
        
        }
      
        .centeronmobile {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      @keyframes mymove {
        0% {transform: translateX(0vw); opacity: 0;}
        25% {transform: translateX(34vw); opacity: 1;}
        50% {transform: translateX(34vw); opacity: 1;}
        75% {transform: translateX(34vw); opacity: 1;}
        100% {transform: translateX(88vw); opacity: 0;}
      }
      
        a.header.uni:link {color:#ffffff;}
        a.header.uni:visited {color:#ffffff;}
        a.header.uni:hover {color: rgba(255, 255, 255, 0.675); font-size: 110% }
      
          a.Git:link {color:#ffffff;}
          a.Git:visited {color:#ffffff;}
          a.Git:hover {color: rgb(74, 29, 255)}
      
          a.Quote:link {color:#ffffff;}
          a.Quote:visited {color:#ffffff;}
          a.Quote:hover {color: rgb(74, 29, 255)} 
      
          a.four:link {color:#ffffff;}
          a.four:visited {color:#ffffff;}
          a.four:hover {color: rgba(255, 255, 255, 0.742)}
      
          a.five:link {color:#ffffff;}
          a.five:visited {color:#ffffff;}
          a.five:hover {color: rgba(255, 255, 255, 0.742)}
      
          a.six:link {color:#000000;}
          a.six:visited {color:#000000;}
          a.six:hover {color: rgba(255, 255, 255, 0.949)}